.card{
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
  }

  .header-container {
    display: inline; 
  }

  .header{
    font-size: 27px;
    margin: 0; 
  }

  .weather-today {
    color: #272343;
    font-size: 20px;
  }
  .city-name-color {
    color: #2d334a;
  }

  .time{
    margin: 0; 
    align-items: left;
    justify-content: left;
    justify-items: left;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .icon-image {
    margin: 0;
  }

  .current-temp {
    font-size: 45px;
    color: #2d334a;
  }

  .high-low {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
  }

  .feels-like {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 0; 
    font-size: 23px;
    color: #2d334a;
  }

  .feels-like-p{
    margin: 0;
  }