*:focus {outline:none !important}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(https://example.com/material-symbols.woff) format('woff');
}

.App {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: inline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-title {
  text-align: center;
  color: #0f0e17;
}

.input, .button {
  text-align: center;
}

.search-box {
  justify-content: center;
  display: flex;
}

.form-control {
  width: 140px;
  padding: 10px;
  border:none;
  background-color: #e3f6f5;
  color: #272343; 
  font-weight: 600;
  width:100%;
}

.btn:hover {
  background-color: rgb(247, 234, 57);
}

.btn {
  padding: 10px;
  border: none;
  background-color: #ffd803;
  color: #272343; 
  font-weight: 600;
  width:100%;
  transition: .3s background-color;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
